<body th:fragment="imports">
    <script src="/js/core/jquery.min.js" ></script>
    <script src="/js/core/popper.min.js" ></script>
    <script src="/js/core/bootstrap.min.js" ></script>
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js" ></script>
    <script src="/js/sweetalert2.all.min.js" rel="script"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE" ></script>

    <script src="/js/plugins/chartjs.min.js" ></script>
    <script src="/js/plugins/jquery.mask.js" ></script>

    <script src="/js/plugins/bootstrap-notify.js" ></script>

    <script src="/js/paper-dashboard.js" ></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="/demo/demo.js" rel="script"></script>
</body>
