<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('MedSau - Dashboard')"></div>

<body style="background-color: #F8F9FAFF; overflow: hidden;">

<div class="wrapper ">

    <header>
        <nav class="navbar navbar-expand-lg" style=" background-color: white; border-bottom: 2px solid #e3e3e3">
            <div class="container-fluid">
                <div class="navbar-wrapper">

                    <a class="navbar-brand" href="javascript:;" style="color: #2d2d2d">
                        <img th:src="@{/img/logo.png}" width="30" height="30" class="d-inline-block align-top" style="margin-right: 15px" alt="Logo HGuN"/>
                        Hospital de Guarnição de Natal
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">

        <div class="row">
            <div class="col-md-2 pl-1">

            </div>
            <div class="col-md-8 pl-1">

                <nav class="navbar navbar-expand-lg" style="margin-bottom: 0px; border-bottom: 2px solid #E3E3E3;background-color: white">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <a class="navbar-brand" style="color: black">Chat de teleatendimento</a>
                        </div>
                    </div>
                </nav>

                <div class="card" style="border-radius: 3px; height: 750px; margin-top: 0px; overflow-x: hidden">
                    <div class="card-body" >
                        <ul class="list-group list-group-flush">

                        </ul>
                    </div>
                </div>

                <form id="formMensagem"  method="post">
                    <div class="input-group mb-3">
                        <input style="height: 40px" type="text" autocomplete="off" class="form-control" placeholder="Escreva aqui" id="message" name="message" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary my-2 my-sm-0" style="height: 40px; margin-top: 0px" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 pl-1">

            </div>
        </div>



    </div>

</div>

<div th:replace="fragments/imports :: imports"></div>

<script>
    const baseurl = window.location.origin;

    function createElementeChat(mensagem){
        let li = document.createElement("li");
        let div = document.createElement("div");
        let strong = document.createElement("strong");
        let p = document.createElement("p");

        li.className = "list-group-item";

        div.style = "margin-bottom: 6px";

        strong.className = "primary-font";
        strong.appendChild(document.createTextNode(mensagem.remetente))

        div.appendChild(strong);

        strong = document.createElement("strong");
        strong.className = "pull-right text-muted";
        strong.appendChild(document.createTextNode(mensagem.hora))

        div.appendChild(strong);

        li.appendChild(div);

        p.className = "mb-0";
        p.style = "margin-bottom: 3px";
        p.appendChild(document.createTextNode(mensagem.conteudo));

        li.appendChild(p);

        return li;
    }

    function getChat(){
        let chatUl = document.getElementsByTagName("ul")[0];
        let chatArray = Array.from(chatUl.children);

        $.ajax({
            type: "GET",
            url : baseurl+"/getChat",
            dataType: 'json',
            success: function(data) {
                if(data.length == 0){
                    window.location.href = baseurl+"/finalizou";
                }

                for(let i = chatArray.length; i < data.length; i++){
                    var li = createElementeChat(data[i]);
                    chatUl.appendChild(li);
                    chatUl.scrollIntoView(false);
                }
            },

            error: function (xhr, textStatus, error){
                console.log(error);
            }
        });
    }

    setInterval(getChat, 50);

    $('#formMensagem').submit(function(e) {
        e.preventDefault();

        let message = document.getElementById("message");
        let isPaciente = true;

        $.ajax({
            type: 'GET',
            url: baseurl+"/postMessage/"+message.value+"/"+isPaciente,
            success: function(response) {
                message.value = "";
            },
            error: function(xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
        return false;
    });
</script>

</body>
</html>