<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head('MedSau - Dashboard')"></div>

<body style="background-color: #F8F9FAFF; overflow: hidden;">

<div class="wrapper ">

    <header>
        <nav class="navbar navbar-expand-lg" style=" background-color: white; border-bottom: 2px solid #e3e3e3">
            <div class="container-fluid">
                <div class="navbar-wrapper">

                    <a class="navbar-brand" href="javascript:;" style="color: #2d2d2d">
                        <img th:src="@{/img/logo.png}" width="30" height="30" class="d-inline-block align-top" style="margin-right: 15px" alt="Logo HGuN"/>
                        Hospital de Guarnição de Natal
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">

        <div class="row">
            <div class="col-md-2 pl-1">

            </div>
            <div class="col-md-8 pl-1">

                <nav class="navbar navbar-expand-lg" style="margin-bottom: 0px; border-bottom: 2px solid #E3E3E3;background-color: white">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <a class="navbar-brand" style="color: black">Chat de teleatendimento</a>
                        </div>
                    </div>
                </nav>

                <div class="card" style="border-radius: 3px; height: 750px; margin-top: 0px; overflow-x: hidden">
                    <div class="card-body" >
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                <div style="margin-bottom: 6px">
                                    <strong class="primary-font">Atendente</strong>
                                    <strong class="pull-right text-muted">11:32</strong>
                                </div>
                                <p class="mb-0" style="margin-bottom: 3px">Bem-vindo ao sistema de teleatendimento do Hospital De Guarnição De Natal. </p>
                                <p class="mb-0" style="margin-bottom: 3px">Já estamos dando prosseguimento ao seu atendimento </p>
                            </li>

                            <li class="list-group-item">
                                <div style="margin-bottom: 6px">
                                    <strong class="primary-font">Claudia da silva</strong>
                                    <strong class="pull-right text-muted">11:33</strong>
                                </div>
                                <p class="mb-0" style="margin-bottom: 3px">Nome: Claudia da silva sauro</p>
                                <p class="mb-0" style="margin-bottom: 3px">Idade: 95 anos</p>
                                <p class="mb-0" style="margin-bottom: 3px">Sexo: Feminino</p>
                                <p class="mb-0" style="margin-bottom: 3px">Telefone: (84) 9 4002-8922</p>
                                <p class="mb-0" style="margin-bottom: 3px">PRECCP: 211665224252</p>
                                <p class="mb-0" style="margin-bottom: 3px">Prontuário: 11455213221551</p>
                                <p class="mb-0" style="margin-bottom: 3px">Especialidade médica: Cardiologia</p>
                            </li>

                        </ul>
                    </div>
                </div>

                <form id="messageForm">
                    <div class="input-group mb-3">
                        <input style="height: 40px" type="text" class="form-control" placeholder="Escreva aqui" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" style="height: 40px; margin-top: 0px" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 pl-1">

            </div>
        </div>



    </div>

</div>

<div th:replace="fragments/imports :: imports"></div>

<script>
    const baseurl = window.location.origin;
    // var messageForm = document.querySelector("form");
    //
    // messageForm.onsubmit = function(event) {
    //     console.log(event);
    // }
    //pega todas as mensagens do chat

    $.ajax({
        type: "GET",
        url : baseurl+"/getChat",
        dataType: 'json',
        success: function(data) {

            console.log(data);
        },

        error: function (xhr, textStatus, error){
            console.log(error);
        }
    });

    /*
    * inserindo uma mensagem simples no final da lista (o mesmo vale para os pacientes na fila de espera)
    * let mensagens = document.getElementsByTagName("ul")[1];
    *
    * let novaMensagem = document.createElement("li");
    *
    * novaMensagem.className = "list-group-item";
    *
    * let content = document.createTextNode("TESTE 3");
    *
    * novaMensagem.appendChild(content);
    *
    * mensagens.appendChild(novaMensagem);
    *
    * mensagens.scrollIntoView(false);
    *
    * mensagens.childElementCount; (me retorna o total de mensagens que já estão em tela)
    *
    *
    * O envio do imput deve ser por rest também
    *
    * let li = document.createElement("li");
li.className = "list-group-item";

let div = document.createElement("div");
div.style = "margin-bottom: 6px";

let strong = document.createElement("strong");
strong.className = "primary-font";
strong.appendChild(document.createTextNode("Nome do paciente"))

div.appendChild(strong);

strong = document.createElement("strong");
strong.className = "pull-right text-muted";
strong.appendChild(document.createTextNode("00:00"))

div.appendChild(strong);

li.appendChild(div);

let p = document.createElement("p");
p.className = "mb-0";
p.style = "margin-bottom: 3px";
p.appendChild(document.createTextNode("Mensagem que o paciente enviou para o funcionario que está atendendo ele"));

li.appendChild(p);

document.getElementsByTagName("ul")[0].appendChild(li);

document.getElementsByTagName("ul")[0].scrollIntoView(false);
    *
    * */
</script>

</body>
</html>