<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="fragments/head :: head('MedSau - Formulário Atendimento')"></div>

    <body style="background-color: #F8F9FAFF">

        <header>
            <nav class="navbar navbar-expand-lg" style=" background-color: white; margin-bottom: 140px; border-bottom: 2px solid #e3e3e3">
                <div class="container-fluid">
                    <div class="navbar-wrapper">

                        <a class="navbar-brand" href="javascript:;" style="color: #2d2d2d">
                            <img th:src="@{/img/logo.png}" width="30" height="30" class="d-inline-block align-top" style="margin-right: 15px" alt="Logo HGuN"/>
                            Hospital de Guarnição de Natal
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <main class="container">
            <div class="card card-user" >
                <div class="card-header" style="margin-left: 12px">
                    <h5 class="card-title">Formulário obrigatório</h5>
                </div>
                <div class="card-body" style="padding: 40px">
                    <form method="post" th:action="@{/paciente}" th:object="${paciente}">
                        <!-- Dados do paciente -->
                        <div class="row">
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d"><b>*</b> Nome completo</label>
                                    <input type="text" th:class="${ erros.nome != null ? 'form-control errorInput' : 'form-control'}"  required th:field="*{nome}" >
                                    <label style="color: red" th:if="${erros.nome != null}" th:text="${erros.nome}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d"><b>*</b> PRECCP</label>
                                    <input type="text" th:class="${ erros.preccp != null ? 'form-control errorInput' : 'form-control'}" th:field="*{preccp}">
                                    <label style="color: red" th:if="${erros.preccp != null}" th:text="${erros.preccp}"></label>
                                </div>
                            </div>
                            <div class="col-md-2 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d"><b>*</b> Idade</label>
                                    <input type="text" th:class="${ erros.idade != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{idade}">
                                    <label style="color: red" th:if="${erros.idade != null}" th:text="${erros.idade}"></label>
                                </div>
                            </div>

                            <div class="col-md-2 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d"><b>*</b> Sexo</label>
                                    <select th:class="${erros.sexo != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{sexo}">
                                        <option th:value="null"></option>
                                        <option th:value="M">Masculino</option>
                                        <option th:value="F">Feminino</option>
                                    </select>
                                    <label style="color: red" th:if="${erros.sexo != null}" th:text="${erros.sexo}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d"><b>*</b> Telefone para contato <small>   (incluindo o DDD)</small></label>
                                    <input type="text" th:class="${ erros.telefone != null ? 'form-control errorInput' : 'form-control'}" data-mask="(00) 00000-0000" required th:field="*{telefone}">
                                    <label style="color: red" th:if="${erros.telefone != null}" th:text="${erros.telefone}"></label>
                                </div>
                            </div>

                            <div class="col-md-8 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d"><b>*</b> Prontuário</label>
                                    <input type="text" th:class="${ erros.prontuario != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{prontuario}">
                                    <label style="color: red" th:if="${erros.prontuario != null}" th:text="${erros.prontuario}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pl-1">
                                <div class="form-group">
                                    <label style="color: #2a2b2d"><b>*</b> Especialidade médica</label>
                                    <select th:class="${ erros.tipoEspecialidade != null ? 'form-control errorInput' : 'form-control'}" required th:field="*{tipoEspecialidade.id}">
                                        <option th:value="null"></option>
                                        <option th:value="${tipo.id}" th:each="tipo : ${listaEspecialidades}" th:text="${tipo.nome + (tipo.descricao != '' ? ('  ('+tipo.descricao)+')' : '')}"></option>
                                    </select>
                                    <label style="color: red" th:if="${erros.tipoEspecialidade != null}" th:text="${erros.tipoEspecialidade}"></label>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary mx-auto" style="width: 200px; height: 40px; font-size: 14px" >Continuar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <div th:replace="fragments/footer :: footer"></div>

        <div th:replace="fragments/imports :: imports"></div>
    </body>
</html>