<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <div class="sidebar" data-color="white" data-active-color="danger" th:fragment="menu(indice)">
        <div class="logo">
            <a th:href="@{/}" class="simple-text logo-mini">
                <div class="logo-image-small">
                    <img src="/img/logo.png">
                </div>
            </a>
            <a th:href="@{/}" class="simple-text logo-normal">
                HGuN
            </a>
        </div>
        <div class="sidebar-wrapper" style="overflow-x: hidden;">
            <ul class="nav">

<!--                <li th:replace="fragments/fragmentMenu/li :: li(${indice == 1}, '/administrador', 'nc-icon nc-bank', 'Dashboard')"></li>-->
                <li th:replace="fragments/fragmentMenu/li :: li(${indice == 2}, '/administrador/especialidade', 'nc-icon nc-bullet-list-67', 'Especialidades')"></li>
<!--                <li th:replace="fragments/fragmentMenu/li :: li(${indice == 3}, '/administrador/funcionarios', 'nc-icon nc-single-02', 'Funcionarios')"></li>-->
                <li th:replace="fragments/fragmentMenu/li :: li(${indice == 4}, '/administrador/chat', 'nc-icon nc-chat-33', 'Chats')"></li>

            </ul>

            <ul class="nav fixed-bottom" style="margin-bottom: 20px; width: inherit;">
                <li style="width: 10px" th:replace="fragments/fragmentMenu/li :: li(${indice == 0}, '/logout', 'fa fa-sign-out', 'Sair')"></li>
            </ul>

        </div>
    </div>

</html>